Repository irenee-14/This-is-the-first-lesson, pull requests merged in 2025-08, with the labels that each got.

#3 [Feat] 페이지 라우팅 설정 및 css 설졍 변경
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/image/icon.png
  frontend/public/image/logo.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/BackgroundDetail.tsx
  frontend/src/pages/Backgrounds.tsx
  frontend/src/pages/Characters.tsx
  frontend/src/pages/CharactersDetail.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Personas.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
  frontend/vite.config.ts
  package-lock.json
  package.json
Labels: ⚙ setting, 🎨 style, 💙 FE

#5 feat: prisma & postgres db setting
  backend/.env
  backend/.gitignore
  backend/README.md
  backend/db/.env
  backend/db/.env.example
  backend/db/docker-compose.yml
  backend/package.json
  backend/prisma/migrations/20250820064503_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/src/app.ts
  backend/src/plugins/support.ts
  backend/src/routes/root.ts
  backend/test/helper.ts
  backend/test/tsconfig.json
Labels: ⚙ setting, ❤️ BE

#7 [Chore] delete env files
  backend/.gitignore
Labels: ⚙ setting

#10 [Feat] #4 components 제작
  frontend/components.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/icons/Arrow-Down.svg
  frontend/src/assets/icons/Arrow-Left.svg
  frontend/src/assets/icons/Arrow-Right.svg
  frontend/src/assets/icons/Arrow-Up.svg
  frontend/src/assets/icons/Book.svg
  frontend/src/assets/icons/Bookmark.svg
  frontend/src/assets/icons/Chat.svg
  frontend/src/assets/icons/Check.svg
  frontend/src/assets/icons/Circle.svg
  frontend/src/assets/icons/Close.svg
  frontend/src/assets/icons/Delete.svg
  frontend/src/assets/icons/Dot.svg
  frontend/src/assets/icons/Heart-exclamation.svg
  frontend/src/assets/icons/Heart.svg
  frontend/src/assets/icons/Key.svg
  frontend/src/assets/icons/Like.svg
  frontend/src/assets/icons/Lock.svg
  frontend/src/assets/icons/Menu.svg
  frontend/src/assets/icons/Message-share.svg
  frontend/src/assets/icons/Navigation.svg
  frontend/src/assets/icons/Pen-1.svg
  frontend/src/assets/icons/Pen.svg
  frontend/src/assets/icons/Play.svg
  frontend/src/assets/icons/Plus.svg
  frontend/src/assets/icons/QuotationMarks.svg
  frontend/src/assets/icons/Reset.svg
  frontend/src/assets/icons/Safe.svg
  frontend/src/assets/icons/Search.svg
  frontend/src/assets/icons/Send.svg
  frontend/src/assets/icons/Whif.svg
  frontend/src/components/features/CardListColumn.tsx
  frontend/src/components/features/CardListRow.tsx
  frontend/src/components/features/CardMediaLeft.tsx
  frontend/src/components/features/CardMediaTop.tsx
  frontend/src/components/layout/BottomNav.tsx
  frontend/src/components/layout/TopNav.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Chip.tsx
  frontend/src/components/ui/Dropdown.tsx
  frontend/src/components/ui/Switch.tsx
  frontend/src/components/ui/SwitchSafe.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/lib/utils.ts
  frontend/src/pages/Home.tsx
  frontend/src/styles/components/button.css
  frontend/src/styles/components/chip.css
  frontend/src/styles/components/input.css
  frontend/src/styles/globals.css
  frontend/src/svg.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
  package-lock.json
  package.json
Labels: ✨ feature, 🎨 style, 💙 FE

#13 [Feat] #12 user api implemenation
  backend/.env
  backend/db/.env
  backend/db/.env.example
  backend/package.json
  backend/prisma/migrations/20250824035228_init/migration.sql
  backend/prisma/migrations/20250824173614_/migration.sql
  backend/prisma/migrations/20250824215607_change_bigint_to_int/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.ts
  backend/src/routes/auth.ts
  backend/src/routes/user.ts
  backend/src/server.ts
  backend/src/types/api.ts
  backend/tsconfig.json
  backend/types/api.ts
Labels: 📮 API, ❤️ BE
